*{
    box-sizing: border-box;
}

header,
footer{
    height:300px;
    border:1px solid black;
    clear: both;
}

header section{
    height:200px;
    width: 50%;
    border: 1 solid black;
    float:left;
}

section.navMain{
    height: 100px;
    width: 100;
    border: 1px solid black;
    float: left;
}